[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "locfit"]
	path = locfit
	url = https://github.com/cran/locfit
[submodule "randomForest"]
	path = randomForest
	url = https://github.com/cran/randomForest
